# Python embarqué
python_embedded/
*.zip

# Fichiers temporaires
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environnements virtuels
venv/
env/
ENV/

# Fichiers de build PyInstaller
build/
dist/
*.spec

# Fichiers de configuration locaux
.env
.env.local

# Logs
*.log
logs/

